@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

$smoothTime: 300ms;

// fonts
$Roboto: 'Roboto', Arial, sans-serif;
$RobotoMono: 'Roboto Mono', monospace;

// colors
$Navy: #0a192f;
$LightNavy: #112240;
$LightestNavy: #233554;
$Slate: #8892b0;
$LightSlate: #a8b2d1;
$LightestSlate: #ccd6f6;
$White: #e6f1ff;
$Green: #64ffda;
